* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 66, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content-container {
  width: 390px;
  min-height: 600px;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.main-content-container h1 {
  color: white;
  border-bottom: 2px solid white;
  width: 300px;
  text-align: center;
}

.todo-container {
  min-height: 50px;
  width: 350px;
  margin: 2px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30px auto 30px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.checkbox-wrapper {
  min-height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-checkbox {
  margin-right: 10px;
}

.todo-text-wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.input-container {
  min-height: 50px;
  width: 350px;
  
}

.input-container input {
  height: 50px;
  border-radius: 10px;
  border: 2px solid white;
  width: calc(350px - ((2px + 50px) * 2));
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}


.add-btn {
  background-color: #aae6a7;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 2px;
}

.clear-btn {
  background-color: #f4949d;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 2px;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}
.delete-button {
  display: flex;
  align-content: center;
  justify-content: center;
}
.delete-button button {
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.toggle-btn{
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  

}
.main-content-container h1::first-letter{
  color: darkblue;
} 
.second{
  color: darkblue;
}
.Edit-btn{
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;

}
.Apply-btn{
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}